@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: hsl(212deg 40% 9%);
    /* background: rgb(38, 89, 115) */
}

.title h1 {
    font-weight: 700;
    font-size: 5.5em;
    /* border-bottom: #12343b solid 1px; */
    color: #eee;
    text-shadow: hsl(345deg 100% 47%) 0px 0px 10px;
}

.title {
    margin-bottom: 4%;
}

.result_box {
    text-align: -webkit-center;
}

.result_images {
    column-gap: 7rem;

}


.result_images img {
    width: 150px;
}

.result {
    color: hsl(345deg 100% 47%);
    font-size: 3em;
    font-weight: 500;
}

.scoresBox {
    column-gap: 18em;
    margin-bottom: 1%;
}

/* Score background and Score Number Color */
/*#region*/
#user-score {
    background-color: #eee;
    /* box-shadow: rgba(38, 89, 115, 0.42) 0px 12px 20px 2px, rgba(19, 26, 32, 0.08) 0px 20px 75px -35px; */
    border-radius: 12px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    align-self: center;
    width: 100px;
    font-weight: 700;
}

.user-score {
    color: hsl(213, 59%, 29%);
    /*Change this to your desired color */
    font-size: 2rem;
}

.cpu-score {
    color: hsl(345deg 100% 47%);
    font-size: 2rem;
    /*Change this to your desired color */
}

#cpu-score {
    background-color: #eee;
    /* box-shadow: rgba(38, 89, 115, 0.42) 0px 12px 20px 2px, rgba(19, 26, 32, 0.08) 0px 20px 75px -35px; */
    border-radius: 12px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    align-self: center;
    width: 100px;
    font-weight: 700;
}


/*#endregion*/

#screen {
    padding: 4em;
    background-color: #eee;
    /* transform: perspective(75em) rotateX(18deg); */
    box-shadow: rgba(38, 89, 115, 0.42) 0px 12px 20px 2px, rgba(19, 26, 32, 0.08) 0px 20px 75px -35px;
    border-radius: 12px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}


/* Images Button Option */
/*#region*/

.option_images {
    column-gap: 7em;
    cursor: pointer;
}

#op_img {
    background-color: #eee;
    box-shadow: rgba(38, 89, 115, 0.42) 0px 0px 0px 8px, rgba(19, 26, 32, 0.08) 0px 20px 75px -35px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    padding: 3em 1em 3em 1em;
}

#op_img:hover {
    background-color: hsl(345, 100%, 47%);
    box-shadow: rgba(240, 0, 60, 0.42) 0px 0px 10px 8px, rgba(19, 26, 32, 0.08) 0px 20px 75px -35px;
}

.option_images img {
    width: 110px;
    height: 75px;
}

#bgBtn p {
    margin-top: 2em;
    color: hsl(345, 100%, 47%);
    font-size: 1.5em;
    font-weight: 600;
    pointer-events: none;
}

.container.start .user_screen img {
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}

.container.start .cpu_screen img {
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

/*#endregion*/


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 350px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .title h1 {
        font-weight: 700;
        font-size: 3.8em;
    }
}
